<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Server=879d90d2-2df5-44b9-951d-ab4f011c2804.sqlserver.sequelizer.com;Database=db879d90d22df544b9951dab4f011c2804;User ID=nzecnfinfystasww;Password=H2Dj4A4TmfYHGmbH5YaR5wkuFTsPWVfbhY72Cypdby2AxU8b5iZiSj7kQiLihn5y;"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
